In [1]:
import os
import pandas as pd
import datetime as dt

In [2]:
FILE_PATH = os.path.join('dataset','shoes.csv')

In [3]:
df = pd.read_csv(FILE_PATH, index_col=False)
df

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$565,$220,12/26/18,8.0,Oregon
99952,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$598,$220,12/26/18,8.5,California
99953,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$605,$220,12/26/18,5.5,New York
99954,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$650,$220,12/26/18,11.0,California
99955,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$640,$220,12/26/18,11.5,Texas

In [ ]:
# Cambio de tipado a fecha
df['Order Date'] = pd.to_datetime(df['Order Date'], format="%m/%d/%y")
# Cambio de tipado a fecha
df['Release Date'] = pd.to_datetime(df['Release Date'], format="%m/%d/%y")
# Cambio de tipado a flotante
df['Sale Price'] = df['Sale Price'].str.replace('$','').str.replace(',','').astype(dtype='float')
# Cambio de tipado a flotante
df['Retail Price'] = df['Retail Price'].str.replace('$','').str.replace(',','').astype(dtype='float')

#
df['Sneaker Name'] = df['Sneaker Name'].str.lower().str.replace('-',' ').replace('\s+', ' ', regex=True)

In [ ]:
def extraer_marca(df, lista_de_marcas):
    # Itera sobre cada marca en la lista de marcas
    for marca in lista_de_marcas:
        # Comprueba si la marca esta presente
        if marca in df:
            return marca
    # Si ninguna marca está presente, retorna "nike"
    return "nike"


lista_de_marcas = ['nike', 'adidas']
# Aplica la función "extraer_marca"
df['Marca'] = df['Sneaker Name'].apply(extraer_marca, lista_de_marcas=lista_de_marcas)

In [ ]:
def extraer_modelo(df, lista_de_modelos):
    
    for modelo in lista_de_modelos:
        df = df.apply(lambda x: modelo if modelo in x else x)

    return df


# Lista de los modelos a buscar
lista_de_modelos = ["yeezy boost 350 v2", "air force 1", "zoom fly", "zoom fly mercurial", "air max 97", 
                    "air max 90", "blazer mid", "air presto", "yeezy boost 350 low", "air vapormax", 
                    "air jordan 1 retro", "air jordan retro 1", "react hyperdunk"]

# Aplica la función "extraer_modelo"
df['Modelo'] = extraer_modelo(df['Sneaker Name'], lista_de_modelos)

In [ ]:
mis_variables = ['Release Date', 'Order Date', 'Marca', 'Modelo', 'Shoe Size', 'Retail Price', 'Sale Price', 'Buyer Region']
df = df[mis_variables].copy()

nombres_de_columnas = {'Release Date': 'Fecha de Lanzamiento', 'Order Date': 'Fecha de Compra', 'Shoe Size': 'Talla',
                       'Retail Price': 'Precio Sugerido', 'Sale Price': 'Precio de Venta', 'Buyer Region': 'Región'}

df = df.rename(columns=nombres_de_columnas, inplace=True)

In [ ]:
df